* {
  box-sizing: border-box;
  margin: 0;
  max-width: 100%;
  padding: 0;
}
button {
  border: none;
}
video {
  border-radius: 9px;
}
ul,
ol {
  list-style: none;
}
input,
textarea {
  display: block;
  width: 100%;
}
html {
  font-size: 62.5%;
  scroll-padding-top: 6.4rem;
}
article {
  margin-bottom: 14.4rem;
}
body {
  color: #040716;
  font-family: "Raleway", sans-serif;
}

p {
  font-size: 1.4rem;
}

a:link,
a:visited {
  color: #11215f;
  transition: all 0.2s ease-in-out;
}

a:hover,
a:active {
  scale: 105% 105% 105%;
}
svg {
  vertical-align: middle;
}

.circle {
  border-radius: 50%;
}
.shadow-1 {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgb(156, 163, 175) 0px 10px 15px -3px, rgb(156, 163, 175) 0px 4px 6px -4px;
}
.vertical-flex {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.horizontal-flex {
  align-items: center;
  display: flex;
}
.grid {
  align-items: center;
  display: grid;
  justify-content: center;
}
.grid--two-col {
  grid-template-columns: 1fr 2fr;
}
.p-1 {
  color: #4b5563;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.075rem;
}
.p-2 {
  font-size: 1.6rem;
  line-height: 1.6;
}

.h-1 {
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: -0.7px;
}
.h-2 {
  font-size: 2.6rem;
  font-weight: 600;
}
.h-3 {
  font-size: 1.6rem;
  font-weight: 600;
}
.blue {
  color: #5651e5;
}
.title {
  font-size: 2.4rem;
  font-weight: 600;
}
.start {
  align-self: flex-start;
}
.end {
  align-self: flex-end;
}
.center-text {
  text-align: center;
}
table {
  border-collapse: collapse;
  border: 1px solid black;
  table-layout: auto;
  width: 100%;
}

th,
td {
  border: 1px solid #040716;
  padding: 4px;
  text-align: center;
  vertical-align: middle;
}
.main-container {
  margin: 0 2.4rem 0 2.4rem;
  max-width: 1024px;
}
.section-container {
  align-items: center;
  gap: 3.2rem;
}
.article-container {
  gap: 14.4rem;
}
